* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 30px;
}

h2 {
  font-size: 1.2em;
}
p {
  line-height: 25.2px;
}

li {
  margin-bottom: 8px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.2em;
}

.accordion::after {
  content: "+";
  text-align: center;
  width: 15px;
  right: 50px;
  transform: translate(0, -15%);
  position: absolute;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-acc,
.accordion:hover {
  background-color: #ccc;
}

.active-acc::after {
  content: "\2013";
}

/* Style the accordion panel. Note: hidden by default */
.panel-acc {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
